/* education page */
*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
  body{
    cursor: none;
    background-color: #c0c0c0;
  }
  .about{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .logo{
    position: relative;
    right: 350px;
    height: 30px;
    width: 30px;
  }
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .navigation{
    position: relative;
    top: 0px;
    left: 190px;
    height: 5%;
    width: 30%;
    background: #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  .team_name{
    position: relative;
    right: 350px;
  }
  .total_nav{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_button{
    height: 30px;
    width: 30px;
  }
  .about_button{
    height: 30px;
    width: 30px;
  }
  .project_button{
    height: 30px;
    width: 30px;
  }
  .contact_button{
    height: 30px;
    width: 30px;
  }
  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;  
        justify-content: space-between; 
    }
    .degree{
      border-radius: 20px;
      background: linear-gradient(to left, rgb(219, 217, 212), transparent);
      position: relative;
      top: -175px;
      left: 390px;
      font-size: 90px;
    }
    
    
    .flex-box {
        position: relative;
        right: 85px;;
        width: 700px;
        height: 200px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        background-color: rgb(249, 249, 255);
        color: rgb(7, 6, 6);
        font-size: 25px;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 20px;
        transform: translateX(100%);
        transition: transform 1s ease-out, opacity 1s ease-out;
    }
    
    .flex-box.visible {
        opacity: 1; /* Fully visible */
        transform: translateX(0); /* Slide into place */
    }
    .edu_img{
      height: 450px;
      position: relative;
      left: 50px;
      border-radius: 20px;
    }
    .line {
        border-radius: 20px;
        overflow: hidden;
        background-color: rgb(249, 249, 255);
    }
    
    .line {
        font-size: 40px;
        text-align: left;
    }
    
    .title {
        border-radius: 20px;
        background: linear-gradient(to right, rgb(219, 217, 212), transparent);
        font-size: 90px;
    }
    
    .flex-box:hover {
        transform: scale(1.2);
        box-shadow: 0 15px 25px rgba(69, 67, 67, 0.3);
    }
  
  /* certifications*/
  .certification{
    border-radius: 20px;
    background: linear-gradient(to right, rgb(219, 217, 212), transparent);
    position: relative;
    width:calc(min(47rem,90%));
    margin:0 auto;
    min-height:20vh;
    column-gap:3rem;
    display:flex;
    align-items: center;
    justify-content: center;
  
  }
  .swiper-container{
    position:right;
  
  }
  .swiper{
    width:1500px;
    padding:10px 0 95px 0;
  }
 
  .swiper-slide .swiper-content{
    position:absolute;
    top: 50;
    left:50px;
    transform:translate(-50%, -45%);
    .swiper-button-prev{
    background: rgb(255, 255, 255);
    border-radius: 500%;
    
    width:50px;
    height: 50px;
   
  
  }
  }
  .swiper-slide .slide-content img{width:100%; border-radius:20px;}
  .swiper-button-prev{
    background: white;
    border-radius: 50%;
   
    left:30px;
   
   
  
  }
  .swiper-button-prev::after{content:"hello";}
  .swiper-button-prev .bx{font-size:25px;}
  .swiper-button-prev{
    background: white;
    border-radius: 500%;
    
    right:30px;
   
   
  
  }
  .swiper-button-next::after{content:"";}
  .swiper-button-prev x{font-size:25px;}
  @media (min-width:760px){
    .swiper-button-prev,
    .swiper-button-next{
      display: flex;
  }
  .certification{
    padding: 5px;
    font-size: 90px;
  }
  .certi-fication{
    padding:10px;
    font-size:20px;
  }
  }
  .cert{
    color:red;
    font-size: 2px;
    
  }
  .squiggle {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:200vw;
z-index:-1;
  }
  svg.squiggle path{
    stroke: #dfbfbf;
    stroke-width:0.7em;
  }
  .bubble {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #090909;
    border-radius: 50%;
    pointer-events: none; 
    transition: transform 0.05s ease-out; 
  }
  
