*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html,body{
    height: 100%;
    width: 100%;
}
.home{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bcc8bc;
}
.name{
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 15rem;

}
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 100px);
    height: calc(100% - 195px);
    background: rgb(91, 82, 91);
    border-radius: 15px;
    padding: 20px;
}
.profile{
    height: 80%;
    margin: auto;
    width: 250px;
    background: black;
    border-radius: 15px;
}

.about{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}